@use "./variables" as var;

html {
	overflow: hidden;
}

.auth-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

.auth-content {
	display: grid;
	grid-template-rows: repeat(2, min-content);
	background-color: var.$secondary;
	padding: 20px 40px;
	width: fit-content;
	min-width: 25vw;
	border-radius: 20px;
	box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.3);
}

.auth-header {
	text-align: center;
	padding: 10px 50px 50px;
	h1 {
		color: var.$offwhite;
	}
}

.auth-forms {
	display: grid;
	grid-template-rows: repeat(6, min-content);
	gap: 5px;
	input {
		margin-bottom: 20px;
		width: 100%;
		height: 50px;
	}
	label {
		color: var.$offwhite;
	}
	a {
		color: var.$offwhite;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	button {
		margin: 10px 0;
		font-size: large;
	}
}

.error-message {
	color: white;
	padding: 0.25em;
	margin: 10px;
	max-width: max(25vw, 350px);
	padding-inline: 10px;
	border-radius: 0.75rem;
	text-align: center;
	font-size: 1.25rem;
}
